<ion-view title="Share" id="page9" class=" ">
    <ion-content padding="true" style="background: url(img/5y7rTndsQiKTbPre2gU0_1440x2560-peak_view_from_the_mountain_peak_mountain_sky_tree_nature_cloud-12603.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="share-button-bar1" class=" button-bar ">
            <button id="share-button7" class=" button button-positive  button-block icon ion-social-whatsapp "></button>
            <button id="share-button8" class=" button button-positive  button-block icon ion-social-twitter "></button>
            <button id="share-button10" class=" button button-positive  button-block icon ion-social-googleplus "></button>
            <button id="share-button9" class=" button button-positive  button-block icon ion-social-facebook "></button>
        </div>
    </ion-content>
</ion-view>